PORT=3001
CHANNEL_NAME=your_channel_name
CHAINCODE_NAME=your_chaincode_name

# Pinata IPFS Configuration
PINATA_JWT=your_pinata_jwt_token_here
GATEWAY_URL=your_pinata_gateway_url_here

# Fabric Network Directory
NETWORK_DIR=/home/YOUR_USERNAME/fabric-dev/tfgbv-network

# CERTIFICATE PATHS (when using CA)

# Org1 - Victim
ORG1_MSP=Org1MSP
ORG1_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org1.tfgbv.com/users/User1@org1.tfgbv.com/msp/signcerts/cert.pem
ORG1_KEY_DIR=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org1.tfgbv.com/users/User1@org1.tfgbv.com/msp/keystore
ORG1_TLS_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org1.tfgbv.com/peers/peer0.org1.tfgbv.com/tls/ca.crt
ORG1_PEER=localhost:7051

# Org2 - Case Handler
ORG2_MSP=Org2MSP
ORG2_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org2.tfgbv.com/users/User1@org2.tfgbv.com/msp/signcerts/cert.pem
ORG2_KEY_DIR=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org2.tfgbv.com/users/User1@org2.tfgbv.com/msp/keystore
ORG2_TLS_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org2.tfgbv.com/peers/peer0.org2.tfgbv.com/tls/ca.crt
ORG2_PEER=localhost:9051

# Org3 - Legal Authority
ORG3_MSP=Org3MSP
ORG3_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org3.tfgbv.com/users/User1@org3.tfgbv.com/msp/signcerts/cert.pem
ORG3_KEY_DIR=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org3.tfgbv.com/users/User1@org3.tfgbv.com/msp/keystore
ORG3_TLS_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org3.tfgbv.com/peers/peer0.org3.tfgbv.com/tls/ca.crt
ORG3_PEER=localhost:11051


# CERTIFICATE PATHS (when using cryptogen - uncomment if needed)


# Org1 - Victim
# ORG1_MSP=Org1MSP
# ORG1_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org1.tfgbv.com/users/User1@org1.tfgbv.com/msp/signcerts/User1@org1.tfgbv.com-cert.pem
# ORG1_KEY_DIR=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org1.tfgbv.com/users/User1@org1.tfgbv.com/msp/keystore
# ORG1_TLS_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org1.tfgbv.com/peers/peer0.org1.tfgbv.com/tls/ca.crt
# ORG1_PEER=peer0.org1.tfgbv.com:7051

# Org2 - Case Handler
# ORG2_MSP=Org2MSP
# ORG2_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org2.tfgbv.com/users/User1@org2.tfgbv.com/msp/signcerts/User1@org2.tfgbv.com-cert.pem
# ORG2_KEY_DIR=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org2.tfgbv.com/users/User1@org2.tfgbv.com/msp/keystore
# ORG2_TLS_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org2.tfgbv.com/peers/peer0.org2.tfgbv.com/tls/ca.crt
# ORG2_PEER=peer0.org2.tfgbv.com:9051

# Org3 - Legal Authority
# ORG3_MSP=Org3MSP
# ORG3_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org3.tfgbv.com/users/User1@org3.tfgbv.com/msp/signcerts/User1@org3.tfgbv.com-cert.pem
# ORG3_KEY_DIR=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org3.tfgbv.com/users/User1@org3.tfgbv.com/msp/keystore
# ORG3_TLS_CERT=/home/YOUR_USERNAME/fabric-dev/tfgbv-network/organizations/peerOrganizations/org3.tfgbv.com/peers/peer0.org3.tfgbv.com/tls/ca.crt
# ORG3_PEER=peer0.org3.tfgbv.com:11051